---
layout: compress
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js biome-html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>{{ page.title }} &middot; {{ site.title }}</title>
    <meta name="description" content="{{ page.excerpt | default: page.description | default: site.description }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/biome.css">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
    </script>
  </head>
  <body class="biome-body">
    {{ content }}
  </body>
</html>
